
<configuration>
  <appSettings>
    <add key="SavePath" value="\\192.168.10.32\pakhsh-tmp$\"/>
  </appSettings>
<connectionStrings>
    <add name="VideoUploader.Properties.Settings.ARCHIVEConnectionString"
        connectionString="Data Source=192.168.10.41;Initial Catalog=PARCH;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
    <add name="PVU.Properties.Settings.ARCHIVEConnectionString" 
 connectionString="Data Source=192.168.10.41;Initial Catalog=PARCH;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
    <add name="PVU.Properties.Settings.PArchConnectionString" 
 connectionString="Data Source=192.168.10.41;Initial Catalog=PARCH;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
